header {
  display: flex;
  align-items: center;
}
img {
  max-width: 100%;
  max-height: 100%; 
}

h1 {
  color: black;
  line-height: 1.5;
}

.right h1 {
  text-align: right;
  margin: 0px 20px 0px 0px;
}

h1:hover, a:visited {
  color: white;
  background-color: black;
}

h2:hover {
  background-color: tomato;
}

h4 {
  font-size: 50pt;
  line-height: 1.35;
  text-align: justify;
  margin-right: 20px;
}

a {
  color: black;
  text decoration: none;
}

a:hover {
  text-decoration: none;
}

.logo {
  margin: 0px 0px 20px 0px;
}
.column-container {  
  display: inline-flex;
  flex-wrap: wrap;
}

.column-1 {
  flex: 30%;
  padding: 20px;
}

.column-2 {
  flex: 30%;
  padding: 20px;
}

.column-3 {
  flex: 30%;
  padding: 20px;
}

.about {
  font-size: 18pt;
  font-weight: bolder;
  line-height: 2.5;
  float: left;
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 0px 20px 20px 20px;
}

.about:hover {
  background-color: tomato;
}