header {
  display: flex;
  align-items: center;
}

h1 {
  color: black;
  line-height: 1.49;
}

h1:hover, h1.selected {
  color: white;
  background-color: black;
}

a {
  color: black;
  text decoration: none;
}

a:hover {
  text-decoration: none;
}

.column-container {  
  display: flex;
  flex-wrap: wrap;
}

.column-1 {
  flex: 30%;
  padding: 20px;
}

.column-2 {
  flex: 30%;
  padding: 20px;
}

.column-3 {
  flex: 30%;
  padding: 20px;
}